/*Everything else*/
.projectSelector {
  width: 100%;
  font-size: 20pt;
}

.open {
  float: left;
}

.ongoing {
  display: inline-block;
}

.closed {
  display: inline-block;
}

.released {
  float: right;
}

.Container {
  width: 21.5%;
  height: 100%;
  margin: 1%;
  padding: 10px 12px 20px 5px;
  border: 1px solid #aaaaaa;
}

.titleText {
  border: solid;
  width: 100%;
  text-align: center;
}

/*Item*/
.Item {
  border: 1px solid #aaaaaa;
  width: 97%;
  height: 60px;
  padding: 1%;
  margin: 3% 0% 3% 0%;
}

.itemTitle {
  float: left;
  width: 90%;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemDescription {
  font-size: 15px;
  height: 35px;
  white-space: initial;
  word-break: break-all;
}

.itemAttributes {
  float: right;
  width: 3%;
  padding-right: 5%;
}
